.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;

    background-color: white;
}

#profileImg {
    border-radius: 50%;
    /*display: flex;*/
    width:200px;
    height:200px;
}

.linkIcon {
    width: 20px;
    height: 20px;
    display: inline;
    margin-right: 15px;
    padding: 1px;
}

#location {
    padding-top: 20px;
    margin-left: 50px;
}

.about {
    padding-top: 30px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
}