body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

a {

    font-family: 'Roboto', sans-serif;
}

.vertical-page {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;

    background-color: white;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;

    background-color: white;
}

#profileImg {
    border-radius: 50%;
    /*display: flex;*/
    width:200px;
    height:200px;
}

.linkIcon {
    width: 20px;
    height: 20px;
    display: inline;
    margin-right: 15px;
    padding: 1px;
}

#location {
    padding-top: 20px;
    margin-left: 50px;
}

.about {
    padding-top: 30px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

h2 {
    padding: 30px;
    font-family: 'Roboto Mono', monospace;
}


p {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.nav-link {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;

}

.project {
    margin-bottom: 40px;
}


.school {
    margin-bottom: 60px;
}

.edu {
    margin-right: 20px;
}

.edudate {

    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    white-space: pre;
    text-align: center;
    display: inline-block;
    vertical-align: text-bottom;
    margin-top: 40px;

}

.edutable {
    table-layout: fixed;
    width: 100%;
}

.eduicon {
    width:140px;
}